.mapContainer {
    width: 50%;
    max-width: 636px;
    height: 100%;
    border-radius: 2px;
}

.marker {
    color: red;
    font-size: 4rem;
    /* font-weight: bold; */
}

@media screen and (max-width: 1150px) {
    
    .marker {
        font-size: 3rem;
    }

}
