.glide {
    max-width: 100%;
    margin: auto;
}

.glide__slide {
    display: flex;
    justify-content: center;
}

.featured {
    position: relative;
    text-align: center;
    height: 600px;
    min-width: 800px;
}

.featuredImage {
    height: 600px;
    min-width: 600px;
    margin: auto;
}

.featuredTextContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    z-index: 2;
    height: 600px;
    width: 100%;
}

.featuredLink {
    text-decoration: none;
}

.featuredHeadline,
.featuredDescription {
    color: rgb(255, 255, 255, 0.8);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

.featuredHeadline {
    font-size: 3rem;
}

.featuredDescription {
    font-size: 1.5rem;
}