.brandImage {
    border-radius: 2px;
    max-width: 300px;
    margin: 20px;
}

@media screen and (max-width: 976px) {

    .brandImage {
        max-width: 180px;
        margin: 20px;
    }

}

@media screen and (max-width: 764px) {

    .brandImage {
        max-width: 140px;
        margin: 10px;
    }

}
