.homeContactContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px 0 20px;
    height: 412px;
    margin: 40px 20px 40px 20px;
}

.homeContactText {
    width: 50%;
    padding-top: 20px;
    background: linear-gradient(to right, rgb(255, 255, 255, 0), rgb(255, 255, 255), rgb(255, 255, 255, 0));
}

.streetLocation {
    font-size: 1.5rem;
}

.contactPhone {
    font-size: 1.5rem;
}

.contactLink {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

/* .serviceImg {
    width: 636px;
    height: 412px;
} */
