.servicePageContainer {
    display: flex;
    margin: 20px;
}

.serviceListContainer {
    margin: 40px;
}

.serviceHeader {
    font-size: 2rem;
}

.serviceBody {
    font-size: 1.4rem;
}

.serviceImageContainer {
    max-width: 50%;
}

.servicePageImage {
    width: 100%;
    border-radius: 4px;
}

.serviceEmailHeader {
    margin-top: 40px;
    font-size: 1.5rem;
}

@media screen and (max-width: 976px) {

    .servicePageContainer {
        margin: 10px;
    }
    
    .serviceListContainer {
        margin: 20px;
    }
    
    .serviceHeader {
        font-size: 1.5rem;
    }
    
    .serviceBody {
        font-size: 1rem;
    }
    
    .serviceEmailHeader {
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 764px) {

    .servicePageContainer {
        margin: 10px;
    }
    
    .serviceListContainer {
        margin: 10px;
    }
    
    .serviceHeader {
        font-size: 0.9rem;
    }
    
    .serviceBody {
        font-size: 0.8rem;
    }
    
    .serviceEmailHeader {
        font-size: 1rem;
    }

}
