footer {
    background-color: rgb(20, 20, 20);
    background: linear-gradient(to right, rgb(20, 20, 20, 0), rgb(20, 20, 20, 0.7), rgb(20, 20, 20), rgb(20, 20, 20, 0.7), rgb(20, 20, 20, 0));
    padding: 10px;
    margin-top: 40px;
}

footer div {
    color: white;
    text-align: center;
    padding: 5px;
}

.footerName {
    font-size: 1.4rem;
}

.footerPhone {
    color: rgb(212, 2, 2);
}

@media screen and (max-width: 764px) {

    footer {
        padding: 5px;
        margin-top: 20px;
    }

    .footer div {
        padding: 2px;
    }
    
    .footerName {
        font-size: 1rem;
    }

    .footerPhone {
        font-size: 0.8rem;
    }

    .footerLocation {
        font-size: 0.8rem;
    }

    .footerCopyright {
        font-size: 0.8rem;
    }
    
}