#sidebar {
    height: 0; /* 100% Full-height */
    width: 297px; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    left: 0;
    /* background-color: rgb(175, 25, 25); */
    background-image: linear-gradient(to right, rgb(175, 25, 25), rgba(175, 25, 25, 0.9), rgba(175, 25, 25, 0.7), rgba(175, 25, 25, 0.4), rgba(175, 25, 25, 0));
    overflow-y: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 1s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  #sidebar div {
    padding: 8px 8px 8px 40px;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(27, 27, 27);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255, 0), rgb(255, 255, 255, 0), rgb(255, 255, 255, 0), rgb(255, 255, 255, 0), rgb(255, 255, 255, 0), rgb(255, 255, 255));
    display: block;
    transition: 0.6s;
  }
  
  /* When you mouse over the navigation links, change their color */
  #sidebar div:hover {
    color: rgb(241, 241, 241);
    cursor: pointer;
  }

  @media screen and (max-width: 976px) {

    #sidebar {
      width: 180px;
    }
    
    #sidebar div {
      padding: 8px 8px 8px 20px;
      font-size: 1.2rem;
    }

}

@media screen and (max-width: 764px) {

  #sidebar {
    width: 120px;
  }
  
  #sidebar div {
    padding: 8px 4px 8px 10px;
    font-size: 0.9rem;
  }

}
  