.emailContainer {
    display: flex;
    flex-direction: column;
}

.emailContainer label {
    margin-top: 10px;
    font-size: 1.1rem;
}

#emailName,
#emailEmail,
#emailBody,
.emailButton {
    border-radius: 4px;
}

#emailName,
#emailEmail {
    width: 50%;
    height: 20px;
}

#emailBody {
    height: 100px;
    width: 70%;
}

.emailButton {
    margin-top: 10px;
    width: 140px;
    font-size: 1.1rem;
}

.emailButton:hover {
    cursor: pointer;
}

@media screen and (max-width: 764px) {

    #emailName,
    #emailEmail {
        width: 90%;
        height: 15px;
    }

    .emailContainer label {
        font-size: 0.9rem;
    }

    #emailBody {
        height: 100px;
        width: 90%;
    }

    .emailButton {
        width: 120px;
        font-size: 0.9rem;
    }

}
