.mapLocation {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.contactStreetLocation {
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 40px;
    font-size: 1.5rem;
}

.hours {
    font-family: 'Courier', monospace;
    font-size: 1rem;
    background: linear-gradient(to right, rgb(255, 255, 255, 0.7), rgb(255, 255, 255, 0.5), rgb(255, 255, 255, 0));
    padding: 5px 0 5px 10px;
    border-radius: 2px;
}

.contactStreetLocation div {
    margin-bottom: 10px;
}

.contactStreetLocation span {
    text-decoration: underline;
    color: rgb(0, 0, 190);
    cursor: pointer;
    margin-bottom: 40px;
}

.contactPageContainer {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

.contactImageContainer {
    max-width: 50%;
}

.contactPageImage {
    width: 100%;
    border-radius: 4px;
}

.contactEmailHeader {
    font-size: 1.5rem;
}
.contactEmailContainer {
    margin: 0 0 0 100px;
    width: 600px;
}

@media screen and (max-width: 976px) {

    .mapLocation {
        margin: 10px;
    }
    
    .contactStreetLocation {
        margin: 40px 0 0 20px;
        font-size: 1.2rem;
    }
    
    .hours {
        font-size: 1rem;
    }
    
    .contactStreetLocation span {
        margin-bottom: 20px;
    }
    
    .contactPageContainer {
        margin: 10px;
    }
    
    .contactEmailHeader {
        font-size: 1.2rem;
    }
    .contactEmailContainer {
        margin: 0 0 0 50px;
        width: 400px;
    }

}
