.brandPageContainer {
    margin: 40px;
}

.brandEmail {
    margin: 40px 0 40px 0;
    width: 600px;
}

.brandEmailHeader {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: rgb(190, 0, 0);
}

@media screen and (max-width: 764px) {

    .brandPageContainer {
        margin: 10px;
    }
    
    .brandEmail {
        margin: 10px 0 10px 0;
        width: 90%;
    }
    
}
